.timer-container {
  text-align: center;
  font-size: 3rem;
}

.timer {
  display: inline-block;
  color: white;
  padding: 10px;
  border-radius: 5px;
  font-size: 2em;
}

.timer span {
  display: inline-block;
  margin: 0 10px;
}

.timer .label {
  display: block;
  font-size: 0.5em;
  color: #57057d;
}
